.buttonCompra{
	margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 22px;
    padding: 2%;
    background: #f47721;
    border-radius: 30px;
    border: 0;
    box-shadow: inset 0 2px 2px rgba(255,255,255,0.35), inset 0 -2px 2px rgba(0,0,0,0.35), 0 5px 10px rgba(0,0,0,0.25);
    text-align: center;
    line-height: 30PX;
    font-size: 21px;
    font-weight: 800;
}

main aside .box strong {
	color:#333 !important;
}

footer{
	min-height: 102px !important;
    /* height: 102px !important; */
}

footer a img{
	height: 50px !important;
}

header h1 a{
    display: block;
    font-size: 23px;
    color: #284d97;
    text-align: center;
    font-weight: 800;
}


.box{
	
}
.box span{
	color:#333 !important;
}
.imgRodape{
	font-size: 14px;
    font-weight: 700;
	float: left !important;
    width: 100%  !important;
}
.imgRodape img{
	height: 70px !important;
}

.title{
	font-size: 1.7rem !important;
}

.hero-body{
	padding: 0rem 0rem 2rem !important;
}
.boxLaranja{
	background: #00a6eb;
    width: 208px;
    padding: 20px;
    border-radius: 17px;
    padding: 28px;
    text-align: center;
    font-size: 37px;
    margin-left: 40%;
    line-height: 0.6;
    box-shadow: inset 0 2px 2px rgba(255,255,255,0.35), inset 0 -2px 2px rgba(0,0,0,0.35), 0 5px 10px rgba(0,0,0,0.25);
}



@media (min-width:1px) and (max-width: 329px)
{
	.boxLaranja{
		margin-left: 26% !important;
	}
}
 
@media (max-width: 479px) and (min-width: 330px)
{
	.boxLaranja{
		margin-left: 32% !important;
	}
}

@media (min-width:480px) and (max-width: 692px)
{
	.boxLaranja{
		margin-left: 33% !important;
	}
}

@media (min-width:693px) and (max-width: 986px)
{
	.boxLaranja{
		margin-left: 41% !important;
	}
}
@media (min-width:987px)
{
	.boxLaranja{
		margin-left: 40% !important;
	}
}
